/*#top{
	display: flex;
}*/

#bottom{
	margin-top: 55px;
}

.box{
	/*width: 25%;*/
	margin: 25px;
}

table{
	/*width: 90%;*/
}

td,th{
	text-align: center;
	padding: 5px;
	font-family: 'Yantramanav', sans-serif;
	font-size: 16px;
}

h1{
	font-size: 24px;
	text-align: center;
	margin: 0px;
	background-color: gray;
	color: white;
	padding: 5px;
	font-family: 'Yantramanav', sans-serif;

}

.price{
	font-weight: bolder;
}

.purse{
	font-weight: bolder;
	text-align: right;
}

table {
	margin: 0 0 40px 0;
	width: 100%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: table;
}

tr {
	display: table-row;
	background: #f6f6f6;
}
tr:nth-of-type(odd) {
	background: #e9e9e9;
}
tr.header {
	font-weight: 900;
	color: #ffffff;
	background: #ea6153;
}
#A table th {
	background: #512e6d;
	color: white;
}
#B table th {
	background: #FF3F6C;
	color: white;
}
#C table th {
	background: #f0c402;
}
#D table th {
	background: #f16939;
	color: white;
}
#E table th {
	background: #0161a3;
	color: white;
}
#F table th {
	background: #03A13F;
	color: white;
}
#G table th {
	background: #ef274f;
	color: white;
}
#H table th {
	background: #0161a3;
	color: white;
}

#I table th {
	background: #e30613;
	color: white
}

#J table th {
	background: #f0c402;
}

th:nth-of-type(odd) {
	background: #2980b9;
}

input,select,button{
	width:20%;
	border:2px solid #aaa;
	border-radius:4px;
	margin: 0% 2%;
	outline:none;
	padding:8px;
	box-sizing:border-box;
	transition:.3s;
}

button{
	width: 7%;
	padding: 10px;
	background-color: #007ea9;
	border: 0px;
	color: white;
	font-size: 20px;
	font-family: 'Yantramanav', sans-serif;
	letter-spacing: 3px;
	opacity: 0.8;
}

button:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	cursor: pointer;
	opacity: 1;
}

#bar{
	position: sticky;
	top: 0;
	background-color: white;
	padding: 5px;
	border-bottom: 1px solid black;
}

body{
	margin:0px;
}

.container{
	margin: 0px;
	max-width: 100%;
}

#missing{
	text-align: center;
	color: red;
}

/*#throw-confetti {
  position: fixed;
  top: 20px;
  left: 20px;
}*/

@media only screen and (max-width: 600px) {
	.col-lg-3,.col-lg-2,.col-lg-1{
		margin: 2px;
	}
	#bar{
		display: none;
	}
	h1{
		font-size: 18px;
	}
}